#modalWindow {
  position: fixed;
  display: block;
  background-color: rgb(247, 247, 247);
  margin-top: 400px;
  margin-left: 300px;
  width: 500px;
  height: 200px;
}

button.noActive {
  background-color: rgb(221, 255, 248);
  border: none;
  margin: 5px;
}

button.active {
  background-color: rgb(64, 183, 252);
  border: none;
  margin: 5px;
}
